
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}


.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}


body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
